{
  "parser": "babel-eslint",
  "rules": {
    "react-hooks/exhaustive-deps": "off"
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "legacyDecorators": true
    }
  }
}
